객체

객체 : 구현하고자 하는 대상의 속성과 기능을 가지는 프로그램 단위

사람을 객체로 만들어봅시다.

- 속성 : 눈, 코, 입, 키, 몸무게, 성격 등
- 기능 : 다리를 이용해 걷기, 물건을 잡을 때 손가락을 이용하기

In [ ]:
# oz_students 리스트는 각 학생의 이름과 그들의 Python, Database, Django, AWS 능력 점수를 저장한 딕셔너리들의 리스트입니다.
oz_students = [
    {"name": "백현우", "python": 4, "database": 3, "Django": 3, "AWS": 2},
    {"name": "홍혜인", "python": 4, "database": 5, "Django": 2, "AWS": 4},
    {"name": "윤은성", "python": 3, "database": 4, "Django": 4, "AWS": 1},
    {"name": "홍수철", "python": 2, "database": 3, "Django": 1, "AWS": 5},
]

# 출력할 표의 헤더를 설정합니다. 이름, 총점, 평균을 탭(\t)으로 구분하여 출력합니다.
print("이름", "총점", "평균", sep="\t")

# oz_students 리스트의 각 학생에 대해 반복문을 실행합니다.
for student in oz_students:
    # 각 학생의 Python, Database, Django, AWS 능력 점수를 합산하여 총점을 계산합니다.
    ability_sum = student["python"] + student["database"] + student["Django"] + student["AWS"]
    # 총점을 4로 나누어 평균을 계산합니다.
    ability_average = ability_sum / 4
    
    # 학생의 이름, 총점, 평균을 탭(\t)으로 구분하여 출력합니다.
    print(student["name"], ability_sum, ability_average, sep="\t")
    
# 출력
이름    총점    평균
백현우  12      3.0
홍혜인  15      3.75
윤은성  12      3.0
홍수철  11      2.75

In [ ]:
# create_oz_students 함수는 학생의 이름과 각 과목 점수를 입력받아 학생 정보를 딕셔너리 형태로 반환합니다.
def create_oz_students(name, python, database, django, AWS):
    return {
        "name": name,
        "python": python,
        "database": database,
        "Django": django,
        "AWS": AWS
    }
    
def get_sum(student):
	return student["python"] + student["database"] + student["Django"] + student["AWS"]
	
def get_average(student):
	return get_sum / 4	

# oz_students 리스트는 create_oz_students 함수를 사용하여 각 학생의 정보를 포함하는 딕셔너리들의 리스트를 생성합니다.
oz_students = [
    create_oz_students("백현우", 4, 3, 3, 2),
    create_oz_students("홍혜인", 4, 5, 2, 4),
    create_oz_students("윤은성", 3, 4, 4, 1),
    create_oz_students("홍수철", 2, 3, 1, 5)
]

# 출력할 표의 헤더를 설정합니다. 이름, 총점, 평균을 탭(\t)으로 구분하여 출력합니다.
print("이름", "총점", "평균", sep="\t")

# oz_students 리스트의 각 학생에 대해 반복문을 실행합니다.
for student in oz_students:
    # 각 학생의 Python, Database, Django, AWS 능력 점수를 합산하여 총점을 계산합니다.
    ability_sum = student["python"] + student["database"] + student["Django"] + student["AWS"]
    # 총점을 4로 나누어 평균을 계산합니다.
    ability_average = ability_sum / 4
    
    # 학생의 이름, 총점, 평균을 탭(\t)으로 구분하여 출력합니다.
    print(student["name"], ability_sum, ability_average, sep="\t")

# 출력
이름    총점    평균
백현우  12      3.0
홍혜인  15      3.75
윤은성  12      3.0
홍수철  11      2.75

In [ ]:
# create_oz_students 함수는 학생의 이름과 각 과목 점수를 입력받아 학생 정보를 딕셔너리 형태로 반환합니다.
def create_oz_students(name, python, database, django, AWS):
    return {
        "name": name,
        "python": python,
        "database": database,
        "Django": django,
        "AWS": AWS
    }
    
# get_sum 함수는 학생 딕셔너리를 받아서, python, database, Django, AWS 점수의 합을 반환합니다.
def get_sum(student):
    return student["python"] + student["database"] + student["Django"] + student["AWS"]
	
# get_average 함수는 학생 딕셔너리를 받아서, 점수의 평균을 계산하여 반환합니다.
def get_average(student):
    return get_sum(student) / 4	
	
# to_string 함수는 학생 딕셔너리를 받아서, 이름, 총점, 평균을 탭(\t)으로 구분한 문자열로 반환합니다.
def to_string(student):
    return f'{student["name"]}\t{get_sum(student)}\t{get_average(student)}'

# oz_students 리스트는 create_oz_students 함수를 사용하여 각 학생의 정보를 포함하는 딕셔너리들의 리스트를 생성합니다.
oz_students = [
    create_oz_students("백현우", 4, 3, 3, 2),
    create_oz_students("홍혜인", 4, 5, 2, 4),
    create_oz_students("윤은성", 3, 4, 4, 1),
    create_oz_students("홍수철", 2, 3, 1, 5)
]

# 출력할 표의 헤더를 설정합니다. 이름, 총점, 평균을 탭(\t)으로 구분하여 출력합니다.
print("이름", "총점", "평균", sep="\t")

# oz_students 리스트의 각 학생에 대해 반복문을 실행합니다.
for student in oz_students:
    # 각 학생의 Python, Database, Django, AWS 능력 점수를 합산하여 총점을 계산합니다.
    ability_sum = student["python"] + student["database"] + student["Django"] + student["AWS"]
    # 총점을 4로 나누어 평균을 계산합니다.
    ability_average = ability_sum / 4
    
    # 학생의 이름, 총점, 평균을 탭(\t)으로 구분하여 출력합니다.
    print(student["name"], ability_sum, ability_average, sep="\t")

# 이름, 총점, 평균을 탭(\t)으로 구분하여 출력합니다.
print("이름", "총점", "평균", sep="\t")

# oz_students 리스트의 각 학생에 대해 반복문을 실행합니다.
for student in oz_students:
    # 학생 정보를 문자열로 변환하여 출력합니다.
    print(to_string(student))

# 출력
# 이름    총점    평균
# 백현우    12    3.0
# 홍혜인    15    3.75
# 윤은성    12    3.0
# 홍수철    11    2.75

클래스의 선언

클래스 이름의 앞글자는 무조건 대문자입

In [ ]:
# class 선언 구조

class 클래스 이름:
	클래스 내용