In [1]:
#아아 : 5000원 /아샷추 : 6500원
#아아 2잔 /아샷추 3잔

(5000*2) + (6500 *3)

29500

In [2]:
# 어제 아아 2잔이랑 아샷추 3잔결제 금액
(5000*2) + (6500 *3)

29500

In [3]:
(5000*2) + (6500 *3)

29500

###변수란? (근본 그 자체) : 하나의 값을 저장할수있는 공간
변수에도 이름 지정 가능

하나의 변수에 하나의 값을 넣을때
변수이름 = 값

두개의 변수에 하나의 값을 각각 넣을때
변수이름1,변수이름2 = 값1,값2

In [6]:
#하나의 값을 변수에 넣을때
num = 1
#print (num)

#두개의 값을 변수에 넣을대

num_1 , num_2 = 1, 2
print (num_1)
print (num_2)

print(num_1,num_2)

1
2
1 2

In [8]:
#변수를 사용하지 않을때 
#이전에 계산된 결과를 저장할 방법이 없음

1 + 2  
1 + 2 + 3
1 + 2 + 3 + 4
1 + 2 + 3 + 4 + 5

15

In [14]:
#변수를 사용할때
#이전에 계산된 결과를 저장해서 사용가능

sum = 1+2
sum = sum +3
sum = sum + 4
sum = sum + 5

print (sum)

15

### 변수에 값을 넣는것 = 할당

sum 1+2 => 1+2의 계산결과를 sum이라는 변수에 할당  

sum = 변수명 ,"=" 같다는 의미가 아닌 할당(assignment)이라고 한다

"=" : 할당 연산자  
"+" : 산술 연산자  

+= 산술후 바로 할당하는 문법  

/=, -=, *= 모두 가능  

공백 두칸은 한칸 띄우기

In [17]:
#변수를 사용하면서 사용 가능한 문법

sum = 1+2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

sum2 = 1 + 2
sum2 += 3
sum2 += 4
sum2 += 5

print(sum2)

15
15

In [22]:
#선언되지 않은 변수 사용시 에러 발생

sum3 = 0 

sum3 += 1


sum3

1

In [ ]:
#변수에 어떤것도 할당하지 않을때

nothing = None

nothing

print(None)

### 변수를 만드는 규칙

영문 문자와 숫자를 사용할수 있다
대소문자 구분
첫글자는 대문자로 쓰는걸 지향
문자부터 시작해야하며 숫자부터 시작불가
_(밑줄)로 시작가능
특수문자(@#$%등)는 사용 불가
파이썬 키워드(if,for,while,and,or)는 사용불가

In [24]:
#대소문자를 구분하는 변수
BIG = "크다"
big = '작다'


print(BIG,big)

크다 작다

스네이크케이스(snake case)
변수명 : snake_case 

카멜케이스(camel case)
변수 : camel|Case

In [25]:
#우리는 변수를 만들때 스네이크케이스로 진행한다 언더바는 2개 적용
#개발에 관련된 여러 조건을 명시하는 것들을 코드 컨벤션이라고한다

box__shose = "스니커즈"
box__hat = "슈프림 모자"

print(box__shose,box__hat)

스니커즈 슈프림 모자

In [26]:
#print() 포메팅 3가지 f-string : print(f'{변수명}')

me = "bullea"
print(f'{me}만 빼고 고양이 다 있어')

bullea만 빼고 고양이 다 있어

In [40]:
#붕어빵(팥) : 2000원, 슈크림 : 2500, 잡채 : 3000원
#슈크림2개,잡채3개 총 5개 결제금액 14000원
#스네이크케이스 언더바 2개/print()문 포메팅 f-string

#상품
fish__cream = "슈크림붕어빵"
fish__mix = "잡채붕어빵"


#주문 수
order__cream = 2
order__mix = 3
total__order = order__cream+order__mix

#가격
price__cream = 2500
price__mix = 3000
total__price = (price__cream*2) + (price__mix*3)


print("주문이 완료되었습니다. "f'{fish__cream},{order__cream}'"개", f'{fish__mix},{order__mix}'"개 총 "f'{total__order}' "개 결제 금액은" f'{total}'" 원 입니다")

주문이 완료되었습니다. 슈크림붕어빵,2개 잡채붕어빵,3개 총 5개 결제 금액은14000 원 입니다